target
/.cargo
lambda-runtime/libtest.rmeta
lambda-integration-tests/target
Cargo.lock
.test-runner

# Built AWS Lambda zipfile
lambda.zip

# output.json from example docs
output.json

.aws-sam
build
.vscode

node_modules
cdk.out

# Test artifacts
Dockerfile.test-with-tasks
test/dockerized/tasks/
